* {
  margin: 0;
  padding: 0;
  list-style: none;
  user-select: none;
  box-sizing: border-box;
}

body {
  background: radial-gradient(ellipse at bottom, #707070 0%, #707070 100%);
  overflow-x: hidden;
  min-height: 100vh;
  /* If you want to change the site height you can remove overflow-y */
  /* pureSnow will automatically detect height of body tag */
  overflow-y: hidden;
  color: white;
}

.snowflake {
  position: absolute;
  width: 10px;
  height: 10px;
  background: linear-gradient(white, white);
  /* Workaround for Chromium's selective color inversion */
  border-radius: 50%;
  filter: drop-shadow(0 0 10px white);
}

.ashes {
  position: absolute;
  width: 2px;
  height: 2px;
  background: linear-gradient(rgb(0, 0, 0), rgb(0, 0, 0));
  /* Workaround for Chromium's selective color inversion */
  border-radius: 50%;
  filter: drop-shadow(0 0 10px rgb(0, 0, 0));
}


nav a {

width: 200px;
color: white;
background-color: black;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
body main {
  z-index: -1;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;


}

main section img {
  display: flex;
  justify-content: center;
  align-items: center;

}



